<h1>Display your Pirate here</h1>
<h2>Name: <%= @pirate.name %></h2>
<h2>Weight: <%= @pirate.weight %> lbs</h2>
<h2>Height: <%= @pirate.height %> inches</h2>


<h2>Display your first ship here</h2>
<h2>Ships One</h2>
<% @ships.each.with_index do |ship, i|%>
<h3><%=ship.name%></h3><br>
<h3><%=ship.type%></h3><br>
<h3><%=ship.booty%></h3><br>
<%end%>


<h2>Display your second ship here</h2>
